<h2>New Brew</h2>

<%= bootstrap_form_for @brew, :url => brews_path, :as => :brew do |f| %>
  <fieldset>
    <%= f.text_field :name %>

    <h3>Add Grains</h3>
    <%= f.fields_for :grains do |builder| %>
      <%= render "grain_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add Grain", f, :grains %>

    <%= f.number_field :mash_temp, :addon => "&deg;F" %>
    <%= f.number_field :mash_time, :addon => "mins" %>

    <h3>Add Hops</h3>
    <%= f.fields_for :hops do |builder| %>
      <%= render "hop_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add Hop", f, :hops %>

    <%= f.text_field :yeast %>
    <%= f.text_field :yeast_amount %>
    <%= f.number_field :fermentation_temperature, :addon => "&deg;F" %>
    <%= f.number_field :fermentation_duration, :addon => "days", :step => "1" %>
    <%= f.number_field :pre_boil_gravity, :step => "0.001", :addon => "IBU" %>
    <%= f.number_field :original_gravity, :step => "0.001", :addon => "IBU" %>
    <%= f.number_field :final_gravity, :step => "0.001", :addon => "IBU" %>
    <br/>
    <%= f.button %>
  </fieldset>
<% end %>
