<h2>New Recipe</h2>

<%= bootstrap_form_for @recipe, :url => recipes_path, :as => :recipe do |f| %>
  <fieldset>
    <%= f.text_field :name %>

    <h3>Add Grains</h3>
    <%= f.fields_for :grains do |builder| %>
      <%= render "grain_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Grain", f, :grains %></p>
    <%= f.number_field :mash_temp, :addon => "&deg;F" %>
    <%= f.number_field :mash_time, :addon => "mins" %>

    <h3>Add Hops</h3>
    <%= f.fields_for :hops do |builder| %>
      <%= render "hop_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Hops", f, :hops %></p>

    <%= f.text_field :yeast %>
    <%= f.text_field :yeast_amount %>
    <%= f.text_area :fermentation_instructions, :rows => 4 %>
    <br/>
    <%= f.button %>
  </fieldset>
<% end %>
