<h2>Mash Calculator</h2>

<div class="control-group" {{bindAttr class="mashTemperatureError:error"}}>
  <label class="control-label">Mash Temperature</label>
  <div class="controls">
    <div class="input-append">
      {{view Ember.TextField valueBinding="mashTemperature" class="input-mini"}}
      <span class="add-on">&deg;F</span>
    </div>
    <span class="help-inline">{{mashTemperatureError}}</span>
  </div>
</div>

<div class="control-group" {{bindAttr class="waterToGristError:error"}}>
  <label class="control-label">Water to Grist Ratio</label>
  <div class="controls">
    <div class="input-append">
      {{view Ember.TextField valueBinding="waterToGrist" class="input-mini"}}
      <span class="add-on">pounds/quart</span>
    </div>
    <span class="help-inline">{{waterToGristError}}</span>
  </div>
</div>

<div class="control-group" {{bindAttr class="poundsError:error"}}>
  <label class="control-label">Total Pounds</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="pounds" class="input-mini"}}
    <span class="help-inline">{{poundsError}}</span>
  </div>
</div>

<div class="control-group" {{bindAttr class="ouncesError:error"}}>
  <label class="control-label">Total Ounces</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="ounces" class="input-mini"}}
    <span class="help-inline">{{ouncesError}}</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn">Calculate</button>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <table class="table table-bordered">
      <tr>
        <th>Strike Temperature</th>
        <td>{{strikeTemperature}}&deg;F</td>
      </tr>

      <tr>
        <th>Mash Water Volume</th>
        <td>{{waterVolume}} Quarts</td>
      </tr>
    </table>
  </div>
</div>
