<div>
  <label>Recipe Name 
  {{view Ember.TextField valueBinding="content.name"}}
  </label>
</div>

<div>
  <label>Target Temperature
  {{view Ember.TextField valueBinding="content.targetTemperature"}}
  </label>
</div>

<div>
  <label>Water to Grist 
  {{view Ember.TextField valueBinding="content.waterToGrist"}}
  </label>
</div>
{{view Ember.TextField valueBinding="controller.amount" placeholder="Amount"}}
{{view Ember.Select
       selectionBinding="controller.selectedGrain"
       contentBinding="controller.grains"
       optionLabelPath="content.name"
       prompt="Select Grain"}}
<button {{action "addGrain" target="controller"}}>Add Grain to Mash</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    {{#each content.weightedGrains}}
      <tr>
        <td>{{grain.name}}</td>
        <td>{{weight}}</td>
      </tr>
    {{/each}}
    <tr>
      <td><strong>Total Weight<strong></td>
      <td>{{content.totalWeight}}</td>
    </tr>
  </tbody>
</table>

<div>
  <input type="submit" value="Create Recipe" />
</div>
