<h2>{{name}}</h2>

<section class="mash">
  <h3>Mash</h3>
  <table>
    <tr>
      <td>Water to Grist Ratio</td>
      <td>{{waterToGrist}}</td>
    </tr>
    <tr>
      <td>Target Temperature</td>
      <td>{{targetTemperature}}</td>
    </tr>
    <tr>
      <td>Strike Temperature</td>
      <td>{{strikeWaterTemperature}}</td>
    </tr>
    <tr>
      <td>Water Volume</td>
      <td>{{mashWaterVolume}}</td>
    </tr>
  </table>
  <table>
    <caption>Grains</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      {{#each weightedGrains }}
        <tr>
          <td>{{grain.name}}</td>
          <td>{{weight}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfooter>
      <tr>
        <td><strong>Total:</strong></td>
        <td>{{totalWeight}}</td>
      </tr>
    </tfooter>
  </table>
</section>
